@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-secondary: rgb(73, 166, 233);
  --clr-dark: hsl(205, 86%, 17%);
  --clr-white: #fff;
}

::placeholder {
  font-size: 0.9rem;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background: rgb(234, 242, 249);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5rem 2rem;
  width: min(90%, 800px);
  margin: 0 auto;
}

input,
button {
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
}

input {
  border: 1px solid var(--clr-secondary);
}

input:focus {
  outline: 1px solid var(--clr-secondary);
}

button {
  background-color: var(--clr-secondary);
  border: none;
  cursor: pointer;
  color: var(--clr-dark);
}

button:focus,
button:hover {
  background-color: var(--clr-dark);
  color: var(--clr-secondary);
}
